<h1>新規登録</h1>
<%= form_with model: @user, url: user_path, local: true do |f| %>
	<%= render "shared/error", object: f.object %>
<div class="field">
  <%= f.label :username, "お名前" %>
  <%= f.text_field :username %>
</div>
<div class = "field">
	<%= f.label :email, "メールアドレス" %>
	<%= f.text_field :email%>
</div>
<div class = "field">
	<%= f.label :password, "パスワード" %>
	<%= f.password_field :password %>
</div>
<div class = "field">
	<%= f.label :password_confirmation, "パスワード（確認用）" %>
	<%= f.password_field :password_confirmeation %>
</div>
<div class="field">
  <%= f.label :userimage, "アイコン画像" %>
  <%= f.file_field :userimage %>
</div>
<div class = "acition">
	<%= f.submit "新規登録" %>
</div>
<%= link_to "ログインはこちら", login_path %>
<% end %>
