<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-lg-8">
			<h2 class="text-center mt-3 mb-3">マイページ</h2>
      <div class="card">
        <div class="card-body">
          <div class="d-flex align-items-center">
            <% if current_user.userimage.attached? %>
              <%= image_tag current_user.userimage.variant(resize_to_limit: [60, 60]), class: "img-fluid rounded-circle" %>
            <% else %>
              <%= image_tag "default_userimage.png", alt: "デフォルトアイコン", class: "img-fluid rounded-circle", size: "60x60" %>
            <% end %>
            <h4 class="mb-0 me-2"><%= current_user.username %></h4>
            <div class="d-flex">
              <%= button_to "編集", edit_user_path, method: :get, class: "btn btn-light me-2" %>
              <%= button_to "削除", user_path(current_user.id), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-danger" %>
            </div>
          </div>
					<hr>
					<div class="d-flex align-items-center" style="padding-left: 20px;">
						<% if current_user.introduction.present? %>
							<h6 class="mb-0"><%= current_user.introduction %></h6>
						<% else %>
							<p class="mb-0">自己紹介文はまだありません</p>
						<% end %>
					</div>
					<hr>
          <div class="d-flex align-items-center" style="padding-left: 20px;">
            <% if @favorite_list.present? %>
              <h6>お気に入り保育園</h6>
              <ul class="favorite-list">
                <% @favorite_list.each do |facility| %>
                  <li><%= link_to facility.name, facility_path(facility) %></li>
                <% end %>
              </ul>
            <% else %>
              <p>お気に入りの保育園はまだありません</p>
            <% end %>
          </div>
        </div>
      </div>
      <div class="user-posts mt-4">
        <h2 class="text-center mt-3 mb-3">あなたの投稿一覧</h2>
        <% if @user_posts.any? %>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>保育園名</th>
                  <th>タイトル</th>
                  <th>コメント</th>
                  <th>投稿日</th>
                </tr>
              </thead>
              <tbody>
                <% @user_posts.each do |post| %>
                  <tr>
                    <td><%= link_to post.facility.name, facility_path(post.facility) %></td>
                    <td><%= truncate(post.title, length: 13) %></td>
                    <td><%= link_to "コメントを見る（#{post.comments.count}）", facility_post_path(post.facility, post) %></td>
                    <td><%= post.created_at.strftime('%Y/%m/%d %H:%M') %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        <% else %>
          <h5 class="text-center mb-4 mt-4">まだ投稿がありません</h5>
        <% end %>
      </div>
    </div>
  </div>
</div>
