<div class="container">
	<h1>現在地から近い保育園一覧</h1>
	<div id="map"></div>
	<table>
		<thead>
			<tr>
				<th>保育園名</th>
				<th>住所</th>
				<th>最寄駅</th>
				<th>電話番号</th>
				<th>HP</th>
				<th>参照</th>
			</tr>
		</thead>
		<tbody>
			<% @nearby_facilities.each do |facility| %>
				<tr>
					<td><%= facility.name %></td>
					<td><%= facility.address %></td>
					<td><%= facility.station %></td>
					<td><%= facility.tel %></td>
					<td><%= link_to "HPはこちら", facility.homepage, target: "_blank" %></td>
					<td><%= link_to "参照", facility_path(facility) %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
	<script>
		function initMap() {
			// 現在地の緯度と経度を取得する
			if (navigator.geolocation) {
				navigator.geolocation.getCurrentPosition(
					(position) => {
						const currentLatitude = position.coords.latitude;
						const currentLongitude = position.coords.longitude;
						const currentLocation = { lat: currentLatitude, lng: currentLongitude };

						// 地図を表示する
						const map = new google.maps.Map(document.getElementById('map'), {
							center: currentLocation,
							zoom: 15
						});

						// 現在地のマーカーを表示する
						new google.maps.Marker({
							position: currentLocation,
							map: map,
							title: '現在地'
						});

						//　保育園の場所のマーカーを表示する
						<% @facilities.each do |facility| %>
							new google.maps.Marker({
									position: { lat: <%= facility.latitude %>, lng: <%= facility.longitude %> },
									map: map,
									title: '<%= facility.name %>'
							});
						<% end %>
					},
					() => {
						alert('現在地を取得できませんでした。');
					}
				);
			} else {
				alert('このブラウザはGeolocationに対応していません。');
			}
		}
	</script>
	<%= link_to "新規登録", new_facility_path, class: "btn btn-primary" %>
</div>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap" async defer></script>
