<h2><%= @facility.name %></h2>
<table>
  <tr>
    <th>住所</th>
    <td><%= @facility.address %></td>
  </tr>
  <tr>
    <th>最寄駅</th>
    <td><%= @facility.station %></td>
  </tr>
  <tr>
    <th>電話番号</th>
    <td><%= @facility.tel %></td>
  </tr>
  <tr>
    <th>HPリンク</th>
    <td><%= link_to @facility.homepage %></td>
  </tr>
  <tr>
    <th>投稿一覧</th>
    <td><%=link_to "こちら", facility_posts_path(@facility) %></td>
  </tr>
</table>
<div>
  <%= link_to "編集", edit_facility_path(@facility) %> |
  <%= link_to "保育園一覧へ戻る", facilities_path %>
  <%= button_to "削除", @facility, method: :delete %>
</div>
