<h1>北区の保育園交流サイト</h1>
<%= link_to "ログイン", login_path %>
<%= link_to "新規登録", new_user_path%>
<div class= "search">
	<%= form_with url: search_facilities_path, local: true, method: :get, class: "search-form" do |f| %>
  	<%= f.text_field :keyword, placeholder: "保育園を検索", class: "search-input" %>
  	<%= f.submit "検索", class: "btn btn-light" %>
	<% end %>
</div>
