<div class="top">
	<h1 class="text-center mt-4">東京都北区の保育園 パパ・ママ交流スペース</h1>
	<p>ここは保育園在園中の方や保活中の方と気軽に交流できる場所です！</p>
	<p>ログインして、気になる保育園のことを聞いたり、情報交換をしましょう♪</p>
	<hr>
	<h3 class="text-center"><span style="font-weight: bold;">＼気になる保育園を探す／</span></h3>
	<div class= "box mt-4">
	<div class="col-md-4">
		<div class= "search">
			<h5 class="search-title">保育園名で検索する</h5>
			<%= form_with url: search_facilities_path, local: true, method: :get, class: "search-form" do |f| %>
				<%= f.text_field :keyword, placeholder: "保育園を検索", class: "search-input" %><br>
				<%= f.submit "検索", class: "btn btn-warning" %>
			<% end %>
		</div>
		</div>
		<div class="col-md-4">
		<div class="map-container">
			<h5 class="search-title">現在地に近い保育園を見つける</h5>
			<div id="map" style="width: 350px; height: 350px;"></div>
		</div>
		</div>
		<div class="col-md-4">
		<div class="search">
			<h5 class="search-title">エリアで探す</h5>
			<div class="row">
			<div class="d-flex  flex-wrap justify-content-between">
				<%= link_to '赤羽エリア', search_by_area_facilities_path(area_name: '赤羽'), class: 'btn btn-warning mb-2' %>
				<%= link_to '志茂エリア', search_by_area_facilities_path(area_name: '志茂'), class: 'btn btn-warning mb-2' %>
				<%= link_to '王子エリア', search_by_area_facilities_path(area_name: '王子'), class: 'btn btn-warning mb-2' %>
				<%= link_to '西が丘エリア', search_by_area_facilities_path(area_name: '西が丘'), class: 'btn btn-warning mb-2' %>
				<%= link_to '神谷エリア', search_by_area_facilities_path(area_name: '神谷'), class: 'btn btn-warning mb-2' %>
				<%= link_to '滝野川エリア', search_by_area_facilities_path(area_name: '滝野川'), class: 'btn btn-warning mb-2' %>
				<%= link_to '田端エリア', search_by_area_facilities_path(area_name: '田端'), class: 'btn btn-warning mb-2' %>
				<%= link_to '浮間エリア', search_by_area_facilities_path(area_name: '浮間'), class: 'btn btn-warning mb-2' %>
				<%= link_to '豊島エリア', search_by_area_facilities_path(area_name: '豊島'), class: 'btn btn-warning mb-2' %>
				<%= link_to '上中里エリア', search_by_area_facilities_path(area_name: '上中里'), class: 'btn btn-warning mb-2' %>
				<%= link_to '十条エリア', search_by_area_facilities_path(area_name: '十条'), class: 'btn btn-warning mb-2' %>
				<%= link_to '堀船エリア', search_by_area_facilities_path(area_name: '堀船'), class: 'btn btn-warning mb-2' %>
			</div>
			
			</div>
		</div>
		</div>
		
</div>
	</div>
</div>
<script>
	function initMap() {
		// 現在地の緯度と経度を取得する
		if (navigator.geolocation) {
			navigator.geolocation.getCurrentPosition(
				(position) => {
					const currentLatitude = position.coords.latitude;
					const currentLongitude = position.coords.longitude;
					const currentLocation = { lat: currentLatitude, lng: currentLongitude };

					// 地図を表示する
					const map = new google.maps.Map(document.getElementById('map'), {
						center: currentLocation,
						zoom: 15
					});

					// オリジナルのアイコン画像をカスタムアイコンとして指定する
					const customIcon = {
					url: '<%= asset_path('currentLocation.jpeg') %>',
					scaledSize: new google.maps.Size(40, 30),
					};

					// 現在地のマーカーを表示する
					new google.maps.Marker({
						position: currentLocation,
						map: map,
						title: '現在地',
						icon: customIcon
					});

					//　保育園の場所のマーカーを表示する
					<% @facilities.each do |facility| %>
						new google.maps.Marker({
								position: { lat: <%= facility.latitude %>, lng: <%= facility.longitude %> },
								map: map,
								title: '<%= facility.name %>'
						});
					<% end %>
				},
				() => {
					alert('現在地を取得できませんでした。');
				}
			);
		} else {
			alert('このブラウザはGeolocationに対応していません。');
		}
	}
</script>
<% unless current_user %>
	<h3 class="text-center">＼ログインしていない方はこちらから／</h3>
	<div class="d-flex justify-content-center">
		<%= link_to "> ログインする", login_path, class: "btn btn-light ms-3" %>
		<%= link_to "> 新規登録する", new_user_path, class: "btn btn-light ms-3" %>
	</div>
<% end %>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap" async defer></script>
