<div class="container">
	<h1><%= @facility.name %></h1>
	<table>
		<thead>
			<tr>
				<th>投稿NO</th>
				<th>タイトル</th>
				<th>内容</th>
				<th>詳細</th>
			</tr>
		</thead>
		<tbody>
			<% @facility.posts.each do |post| %>
				<tr>
					<td><%= post.id %></td>
					<td><%= post.title %></td>
					<td><%= post.content %></td>
					<td><%= link_to "コメントを見る", facility_post_path(@facility ,post) %>
				</tr>
			<% end %>
		</tbody>
	</table>
	<%= link_to "新規投稿する",new_facility_post_path %>
</div>
