<h2><%= @post.title %></h2>
<p><%= @post.content %></p>
<%= form_with model: [@post, @comment], url: facility_post_comments_path(@facility, @post), local: true do |f| %>
	<%= f.text_area :content, rows:'5',placeholder: "コメントをご記入ください", class:"form-control mt-3"  %>
	<div class="text-right">
		<%= f.submit "コメントする", class: "btn btn-primary mt-3 mb-3" %>
	</div>
<% end %>
<% @comments.each do |comment| %>
	<div class="col-3 text-center">
		<% if comment.user.userimage.attached? %>
			<%= image_tag comment.user.userimage.url, alt: "アイコン", size: "50x50" %>
		<% else %>
			<%= image_tag "default_userimage.png", alt: "アイコン", size: "50x50" %>
		<% end %>		
		<%= comment.user.username %>
		<%= comment.created_at.strftime('%Y/%m/%d %H:%M')%>
		<p><%= comment.content %></p>
		<% if comment.user_id == current_user.id %>
			<%= button_to "削除", facility_post_comment_path(comment.post.facility.id, comment.post.id, comment.id), method: :delete, class: "btn-sm btn-danger" %></td>
		<% end %>
	</div>
<% end %>
<div><%= link_to "←投稿一覧へ戻る", facility_posts_path, class: "float-start"%></div>

